.fixed-top .container-fluid .navbar-toggler{
    display: none;
}

#offcanvasNavbarLabel{
    color: rgb(255,255,255);
}

.desktop-links a{
    margin-right: 1.5rem;
    color: rgb(95,161,0 );
}

.desktop-links button {
    margin-right: 1.5rem;
}

nav {
    background-color: rgb(255,255,255);
}


/*  */
.navbar img{
    width: 4rem;
}
/*  */

.navbar  a {
    text-decoration: none;
    color: rgb(95,161,0 );
    font-weight: bold;
}

.navbar a:hover{
    color:rgb(249, 32, 12);
}

header h3 #about{
    margin-top: 5rem;
    text-align: center;
}


 header h3{
        margin: 7rem 0 4rem;
        text-align: center;
        font-weight: bolder;
        color: rgb(0,0,0);
    }
















/* mobile and tab view */
@media (max-width: 767px) {
    .fixed-top .container-fluid .navbar-toggler{
        display: initial;
    }
    
    .desktop-links{
        display: none;
    }
    
    .container-fluid a{
        color: rgb(95,161,0);
        /* font-family: 'Playball', cursive; */
    }

    
    .navbar .offcanvas, .dropdown-menu{
        background: linear-gradient(rgba(95,161,0, 0.7),rgba(123, 193, 25, 0.8)),
        url(./images/arscpm\ logo.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        font-family: Montserrat;
    }
    
    .navbar .dropdown-menu{
        background: none;
        height: 65vh;
        margin-bottom: 4rem;
    }
    
    .navbar .offcanvas a{
        color: rgb(255, 255, 255);
        font-weight: bolder;
        font-family:  Montserrat;
    }
    
    .navbar .offcanvas a:hover{
        color:rgb(249, 32, 12);
        background-color: rgb(255, 255, 255);
        padding: 8px;
    }

    .navbar-toggler .navbar-toggler-icon, .btn-close{
        background-color: rgb(255,255,255);
    }

    nav {
        background-color: rgba(73,73,73,0.9);
    }

    /*  */
    .navbar .navbar-brand img{
        display: none;
    }
    /*  */

    .navbar img{
        width: 2rem;
    }



    body{
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.8)),
        url(./images/arscpm\ logo.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Montserrat;
        font-weight:bolder;
    }


     header h3{
        margin: 5rem 0 2rem;
        text-align: center;
    }



}